<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">Atlantis A.I Automation <br>  &#38;  Design Agency</h1>
					<p class="animated fadeInUp">We love A.I and the work we do.We work closely with our clients to deliver </br>  the best possible solutions for their needs</p>
					<a href="https://themefisher.com/free-bootstrap-templates/" class="btn btn-main animated fadeInUp" >A.I Info</a>
				</div>
			</div>
		</div>
	</div>
</section>